body {
  background-image: url("../img/calculator.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.container {
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.9);
  padding-bottom: 30px;
  padding-top: 30px;
  border-radius: 25px;
  border: 4px solid rgba(0, 0, 0, 0.8);
}
h1 {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  font-family: serif;
  font-variant: small-caps;
}
p {
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
  line-height: 35px;
  margin-top: 10px;
}

.row {
  margin-top: 10px;
}

.boardingSchool {
  border-radius: 30px;
  border: 2px rgba(0, 0, 0, 0.6) solid;
}

.screen {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.2);
}

#display {
  font-size: 50px;
  color: black;
  text-align: right;
  padding-top: 18px;
  padding-right: 10px;
}
